:root {
  // Accents
  --color-red-light: #FDEEF5;
  --color-red-light-hover: #FCE6F0;
  --color-red-light-active: #FACBDF;
  --color-red-normal: #EE5899;
  --color-red-normal-hover: #D64F8A;
  --color-red-normal-active: #BE467A;
  --color-red-dark: #B34273;
  --color-red-dark-hover: #8F355C;
  --color-red-dark-active: #6B2845;
  --color-red-darker: #531F36;

  --color-green-light-hover: #DBF6F2;
  --color-green-light-active: #B4EBE3;
  --color-green-normal: #0CC0A5;
  --color-green-normal-hover: #0BAD95;
  --color-green-normal-active: #0A9A84;
  --color-green-dark: #09907C;
  --color-green-dark-hover: #077363;
  --color-green-dark-active: #05564A;
  --color-green-darker: #04433A;
  --color-green-light: #E7F9F6;

  --color-neutral-1: #FFFFFF;
  --color-neutral-2: #FDFDFD;
  --color-neutral-3: #F5F5F5;
  --color-neutral-4: #F1F1F1;
  --color-neutral-5: #DBDBDB;
  --color-neutral-6: #C3C3C3;
  --color-neutral-7: #939393;
  --color-neutral-8: #636363;
  --color-neutral-9: #505050;
  --color-neutral-10: #333333;
  --color-neutral-11: #2C2C2C;
  --color-neutral-12: #222222;
  --color-neutral-13: #0F0F0F;

  // Code
  --shiki-color-text: #212121;
  --shiki-token-constant: #1976D2;
  --shiki-token-string: #22863a;
  --shiki-token-comment: #9f9f9f;
  --shiki-token-keyword: #D32F2F;
  --shiki-token-parameter: #FF9800;
  --shiki-token-function: #6f42c1;
  --shiki-token-string-expression: #22863a;
  --shiki-token-punctuation: #212121;
  --shiki-token-link: #d32f2f;

  @include theme-dark {
    --shiki-color-text: #c9d1d9;
    --shiki-color-background: #0d1117;
    --shiki-token-constant: #79c0ff;
    --shiki-token-string: #a5d6ff;
    --shiki-token-comment: #8b949e;
    --shiki-token-keyword: #ff7b72;
    --shiki-token-parameter: #c9d1d9;
    --shiki-token-function: #d2a8ff;
    --shiki-token-string-expression: #a5d6ff;
    --shiki-token-punctuation: #c9d1d9;
    --shiki-token-link: #000012;
  }
}
