// Jetbrains Mono
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono/jetbrains-mono-regular.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

// Virgil
@font-face {
  font-family: 'Virgil';
  src: url('/fonts/virgil/virgil-regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
